body{
    margin-left:20px ;
}
.chat{
    background-color: aliceblue;
    padding: 20px; 
    border-radius: 16px;
    display:inline-block;
}
.msgbox{
    background-color: dodgerblue;
    color: white;
    border-radius: 16px;
    padding: 5px 10px;

}
button{
    border-radius: 5px;
}